body{
    font-family: "Calibri Light";
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.2rem;}


.form{
    position: relative;
    width: 20rem;
    height: 3rem;
}


    .form__input{

         position: absolute;
         top: 0;
    left: 0;
    width: 327px;
    height: 6px;
    border: 2px solid gray;
    border-radius: 4px;
    font-family: "Calibri Light";
    font-size: 18px;
    color: black;
    outline: none;
    padding: 1.25rem;
    background: none;}

    .form__input:hover{
        border-color: gray;
     }

    .form__input:focus{
    border-color: #19AC63 ;

      }
    
    .form__label{
        position: absolute;
        left: 1rem;
        top: 0.8rem;
        padding: 0 0.5rem;
        color: gray;
        transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms  ease-in;
      background-color: white;
    }
 .form__input:focus ~ .form__label,
 .form__input:not(:placeholder-shown).form__input:not(:focus) ~.form__label{
     top: -0.5rem;
     font-size: 1rem;
     left: 0.8rem;
     color: #19AC63;


 }
 #button{
     width: 10px;
 }

